<h1>Information on <%= @doctor.name %></h1>
<h3>Specialty: <%= @doctor.specialty %></h3>
<h3>University: <%= @doctor.university %></h3>
<h3>Employed at: <%= @doctor.hospital.name %></h3>
<h3>Current patients: 
<ul><% @doctor.patients.each do |patient| %>
<li><%= patient.name %></li>
<% end %></ul></h3>